.space {
    width: 10px;
    height: auto;
    display: inline-block;
}

.drawer-container {
    width: 100%;
    height: 93.7%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.drawer-content {
    width: fit-content;
    height: 100%;
}

.contact-box {
    width: 300px;
    height: fit-content;
}

.contact-content {
    display:flex;
    padding: 20px;
    place-items: center center;
}

.no-friends-span {
    vertical-align: center;
}

.no-friends-message {
    width: 300px;
    height: 100px;
    text-align: center;
}

.no-friend-selected-message {
    text-align: center;
}

.big-spacer {
    flex: 1 1 auto;
}

.user-pfp {
    width: 30px;
    height: 30px;
}

.conversation-container {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

/*.message-box {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    place-items: center center;
    width: 100%;
    height: fit-content;
}*/

.message-field {
    margin-left: 5px;
    width: 80%;
    align-items: center;
}

.send-message-button {
    margin-left:10px;
    align-items: center;
}

.conversation-messages-container {
    flex-grow: 1;
}

.conversation-toolbar {
    display: flex;
    flex-direction: row;
    place-items: center center;
}

.messages {
    display: flex;
    flex-direction: column;
}

/*
.friend-messages {
    text-align:left;
    margin-left:10px;
}

.user-messages {
    text-align: right;
    margin-right:10px;
}
*/

.friend-messages {
    display:flex;
  height: fit-content;
  min-width: 40px;
  width: fit-content;
  background: #4151af;
  position: relative;
  cursor:pointer;
    color: white;
    padding: 10px;
    border-radius:25px;
}
.friend-messages:before {
  content: "";
  position: absolute;
  top: -webkit-calc(100% - 10px); /*may require prefix for old browser support*/
  top: calc(100% - 10px); /*i.e. half the height*/
  left: 20px;
  height: 20px;
  width: 20px;
  background: #4151af;
  transform: rotate(45deg);
  border-bottom:inherit;
  border-right:inherit;
  box-shadow:inherit;
}

.user-messages {
    display:flex;
    height: fit-content;
    min-width: 40px;
    width: fit-content;
    background: rgb(200, 200, 200);
    position:relative;
    cursor:pointer;
    color: black;
    padding: 10px;
    border-radius:25px;
    right:50%;
}
.user-messages:before {
  content: "";
  position: absolute;
  top: -webkit-calc(100% - 10px); /*may require prefix for old browser support*/
  top: calc(100% - 10px); /*i.e. half the height*/
  right: 20px;
  height: 20px;
  width: 20px;
  background: rgb(200, 200, 200);
  transform: rotate(45deg);
  border-bottom:inherit;
  border-right:inherit;
  box-shadow:inherit;
}

.message-row {
    display: flex;
    flex-direction: row;
}