<mat-toolbar color="primary">
    
    <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    
    <div class="space"></div>

    <span>MessageCat</span>

    <span class="big-spacer"></span>

    <img class="user-pfp" src="{{pfp_path}}" />
    <div class="space"></div>
    <p>{{username}}</p>

    <span class="big-spacer"></span>
    
    <span>
        <button mat-icon-button (click)="OpenUserSettings()">
            <mat-icon>settings</mat-icon>
        </button>

        <button mat-raised-button color="secondary" (click)="Logout()">Logout</button>

    </span>
</mat-toolbar>

<mat-drawer-container class="drawer-container" autosize>
    <!--Sidebar-->
    <mat-drawer class="drawer-content" #drawer mode="side" opened>

        <mat-tab-group>

            <mat-tab label="Friends">
                <div class="no-friends-message">
                    <p *ngIf="friends.length == 0">It looks a little quiet here...</p>
                </div>

                <div *ngFor="let friend of friends; index as i" class="contact-box" >
                    <span *ngIf="friend != ''" matRipple [matRippleColor]="contactBoxRippleColour" class="contact-content" (click)="selectedFriendString=friend">
                        <img class="user-pfp" src="{{pfp_req_url + Json.parse(friend).pfp_path}}">
                        <div class="space"></div>
                        <p>{{Json.parse(friend).username}}</p>
                        <div class="big-spacer"></div>
                        <div *ngIf="friendOnlineStates[i]" class="online-icon"></div>
                        <div *ngIf="!friendOnlineStates[i]" class="offline-icon"></div>
                    </span>
                    <mat-divider *ngIf="friend != ''"></mat-divider>
                </div>
            </mat-tab>

            <mat-tab label="Find people">
                <div class="add-friend-container">

                    <mat-form-field  appearance="outline">
                        <input matInput [(ngModel)]="userSearchField" placeholder="Who are you looking for?">
                        <button matSuffix mat-icon-button (click)="SearchForUser()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>

                    <div *ngFor="let user of userSearchResults">
                        <div class="user-search-result">
                            <img *ngIf="user != ''" class="user-pfp" src="{{pfp_req_url + Json.parse(user).pfp_path}}">
                            <div *ngIf="user != ''" class="space"></div>
                            <p *ngIf="user != ''" >{{Json.parse(user).username + "#" + Json.parse(user).ID}}</p>
                            <span class="big-spacer"></span>
                            <button *ngIf="user != ''" mat-icon-button aria-label="Send friend request" (click)="SendFriendRequest(user)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>

                        <mat-divider *ngIf="user != ''"></mat-divider>
                    </div>

                </div>

            </mat-tab>

            <mat-tab label="Friend requests">
                <div *ngFor="let request of friendRequests">
                    <div class="user-search-result">
                        <img *ngIf="request != ''" class="user-pfp" src="{{pfp_req_url + Json.parse(request).pfp_path}}">
                        <div *ngIf="request != ''" class="space"></div>
                        <p *ngIf="request != ''" >{{Json.parse(request).username + "#" + Json.parse(request).ID}}</p>
                        <span class="big-spacer"></span>
                        <button *ngIf="request != ''" mat-icon-button aria-label="Accept friend request" (click)="AcceptFriendRequest(request)">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button *ngIf="request != ''" mat-icon-button aria-label="Decline friend request" (click)="DeclineFriendRequest(request)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>

                    <mat-divider *ngIf="request != ''"></mat-divider>
                </div>
            </mat-tab>

        </mat-tab-group>

    </mat-drawer>

    <!--Main content, this is the conversation view-->
    <div class="conversation-container">
        <mat-toolbar color="secondary">
            <p *ngIf="selectedFriendString == ''" class="no-friend-selected-message">No conversation selected</p>
            <div class="conversation-toolbar" *ngIf="selectedFriendString != ''">
                <img class="user-pfp" src="{{pfp_req_url + Json.parse(selectedFriendString).pfp_path}}">
                <div class="space"></div>
                <p>{{Json.parse(selectedFriendString).username}}</p>
            </div>
        </mat-toolbar>

        <!--Conversation content-->
        <span class="conversation-messages-container" #messageContentScrollBox [scrollTop]="messageContentScrollBox.scrollHeight">
            <div class="messages">
                <div *ngFor="let message of messages">
                    <div *ngIf="message != ''" class="{{GetMessageRowName(message)}}">
                        <div *ngIf="IsUserMessage(Json.parse(message).senderID)" class="big-spacer"></div>
                        <p class="{{GetMessageClassName(Json.parse(message).senderID)}}">{{Json.parse(message).content}}</p>
                    </div>
                </div>
            </div>
        </span>

        <!--Message bar-->
        <mat-divider></mat-divider>
        <span>
           <mat-form-field class="message-field" appearance="outline">
              <input matInput [(ngModel)]="message" placeholder="Enter message" (keyup.enter)="SendMessage()">
              <button *ngIf="message" matSuffix mat-icon-button aria-label="Clear" (click)="message=''">
                  <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <button *ngIf="message != ''" mat-raised-button class="send-message-button" color="primary" (click)="SendMessage()">Send</button>
            <button *ngIf="message == ''" mat-raised-button class="send-message-button" disabled>Send</button>
        </span>
    </div>
</mat-drawer-container>
